.DualWish{
    width: 580px;
    max-width: 100%;
}

.DualWish-display{
    position: relative;
    top: 50px;
    width: 240px;
    max-width: 50%;
    height: 240px;
    max-height: 40.9%;
    border-radius: 500px;
    overflow: hidden;
    margin:0 auto;
}

.DualWish-display:before{
    content:'';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240px;
    max-width: 50%;
    height: 240px;
    max-height: 40.9%;
    border-radius: 500px;
    background-color: #fff456;
}



.DualWish-img{
    position:relative;
    right:50%;
    width: auto;
    height: 100%;
}