.Primate{
 width:200px;
 max-width: 100%;
 margin:10px auto;
 transition:1.0s;
}

.Primate:hover .Primate-img{
    width:115%;
    transition:1.0s;
}

.Primate:hover .Primate-markee{
    -webkit-text-stroke: #ffd500;
    -webkit-text-fill-color: #ffd5007e;
    -webkit-text-stroke-width: 1px;
    transition:1.0s;
}

.Primate:hover .Primate-displayFrame{
    box-shadow: 0px 0px 15px #ffd500;
    -webkit-text-stroke: #ffd500;
    -webkit-text-fill-color: #ffd5007e;
    -webkit-text-stroke-width: 1px;
    background-color: #ffd500;
    opacity: .9;
    transition:1.0s;
}

.Primate-display{
    width:95%;
    border-radius: 200px;
    margin: 0 auto;
    background-color: #32cd3200;
}

.Primate-displayFrame{
    width:178px;
    height: 178px;
    border-radius: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 15px #32cd32;
    opacity: .7;
    margin: 0 auto;
}

.Primate-img{
    width:100%;
    height: auto;
}

.Primate-markee{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    -webkit-text-stroke: #32cd32;
    -webkit-text-fill-color: #32cd328f;
    -webkit-text-stroke-width: 1px; 
}

.Primate-link{
    text-decoration: none;
}