.Home{
    font-size: 40px;
    margin: 0 auto;
    font-weight: 800;
    color:#32cd32;
    -webkit-text-fill-color: #32cd3230;
    -webkit-text-stroke-color: #32cd32;
    -webkit-text-stroke: 1px;
}